{{#section 'title'}}
Add New User
{{/section}}

<p> I am About to add a user </p>

<form action="/user/add" method="POST">
    <input type="text" name="name">
    <input type="number" name="password">
    <input type="submit">
</form>