<!DOCTYPE html>
<html>

<head>
    <title>

        {{{_sections.title}}}
    </title>
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>

<body>


    {{{body}}}


</body>

</html>